<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Templates.</title>
  <meta name="description" content="HTML5, CSS3, JS templates to use freely with custom framework">
  <meta name="keywords" content="template, css, css3, html, html5, js, javascript, framework, custom, free, copyright, classy, clean, awesome, beautiful ">
  <meta name="author" content="Ulli Bodnar">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../framework/custom-framework.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
  <header class="header">
    <h1>Templates</h1>
  </header>
  <main>
    <!-- main content here! -->
  </main>
  <footer>
    <!-- footer content here! -->
  </footer>
</body>
</html>
