<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Write a Descriptive Title Here</title>
  <meta name="description" content="write a short description of the content of the website using keywords found in the title and your meta keywords">
  <meta name="keywords" content="write keywords that are used in the title and description">
  <meta name="author" content="Your Name">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../framework/custom-framework.css" type="text/css" /><!-- may have to change href to proper location -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
  <header>
    <!-- header content here! -->
  </header>
  <main>
    <!-- main content here! -->
  </main>
  <footer>
    <!-- footer content here! -->
  </footer>
</body>
</html>
